<%- include("templates/header") %>
  <div id="map" class="z-0" style="height: 100vh;"></div>

  <%- include("templates/navbar_buyer") %>

  <!-- Leaflet library -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Map Scripts -->
  <script>
    // Default Burnaby
    const map = L.map('map').setView([49.24871980930831, -122.98067289034908], 13);

    const accessToken = '<%= mapboxToken %>';

    const sellers = <%- JSON.stringify(sellers) %>;

    // We can change to "streets-v11", "outdoors-v11", "satellite-v9", etc for different map views
    const mapboxStyle = 'mapbox/streets-v12';

    L.tileLayer(`https://api.mapbox.com/styles/v1/${mapboxStyle}/tiles/{z}/{x}/{y}?access_token=${accessToken}`, {
      tileSize: 512,
      zoomOffset: -1,
      attribution: '© <a href="https://www.mapbox.com/about/maps/">Mapbox</a> © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      accessToken: accessToken
    }).addTo(map);

    sellers.forEach(seller => {
      if(!seller.address) return;

      const address = seller.address;
      const addressString = `${address.address}, ${address.city}, ${address.province}, ${address.postalCode}`;

      fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(addressString)}.json?access_token=${accessToken}`)
      .then(res => res.json())
      .then(data => {
        if (data.features.length > 0) {
          const [lng, lat] = data.features[0].center;
          const marker = L.marker([lat, lng]).addTo(map);
          marker.bindPopup(`
            <b>${seller.firstName} ${seller.lastName}</b><br>
            ${addressString}
          `);
        }
      })
      .catch(err => {
        console.error("Geocoding failed for:", addressString, err);
      });
    });

    // Buyer's current location
    const marker = L.marker([49.249999, -123.001]).addTo(map);
    marker.bindPopup(`
      <a href="https://www.bcit.ca/" target="_blank" style="text-decoration: none; color: inherit; display: block;">
        <div style="padding: 4px;">
        <b>Burnaby</b><br>
        Home of BCIT.
        </div>
      </a>
    `).openPopup();
  
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition((position) => {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;
          console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);

          const marker = L.marker([latitude, longitude]).addTo(map);
          marker.bindPopup(`
            <a href="https://www.google.com/maps/place/${latitude},${longitude}" target="_blank" style="text-decoration: none; color: inherit; display: block;">
              <b>Your current location</b>
            </a>
          `).openPopup();
        },
        (error) => {
          console.error("Error getting location:", error.message);
        }
      );
    } else {
      console.error("Geolocation is not supported by this browser.");
    }


  </script>
  
<%- include("templates/footer") %>